<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styleConsult.css">
    <script src="static/js/appConsult.js"></script>
    <title>User Query</title>
</head>
<body>
    <div class="container">
        <h1>User Query</h1>
        <div class="form-container">
            <label for="ident">Code User</label>
            <input type="text" id="ident" placeholder="Enter code">
            <button onclick="consult_user()">Consultar</button>
            <div class="loading" id="loading" style="display: none;">Cargando...</div>
        </div>
        
        <div class="result-container">
            <h2>Query Result</h2>
            <div class="image-container">
                <img src="" id="img-user" alt="Imagen del usuario" style="display: none;">
            </div>
            <textarea id="txt-response" readonly placeholder="User information will appear here"></textarea>
        </div>
    </div>
</body>
</html>
